<section id="about" class="about-section text-center pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-light mb-4">About Us</h2>
                <p class="text-light-50">L8 Café is a great place to chill and surf the net; to catch up with work out of the office or to simply enjoy the life and our great food meeting friends.</p>
            </div>
        </div>
        <div class="row justify-content-around pb-2">
            <div class="col-md-5 text-light text-justify pb-4">
                <p class="mb-1">
                    The L8 idea was born when a young Serbian duo first started selling gourmet sandwiches and tasty soups
                    at a local market stall in Rosebank.
                </p>

                <p class="my-2">
                    Since then the concept has flourished and expanded into what is now L8 Cafe in the 44 Stanley precinct,
                    one of Jozi’s sneaky surprises tucked away in Milpark. Stop by for a coffee fix, a superb lunch, a real
                    beer on tap or just quick snack under the olive trees in the sunny main yard.
                </p>

                <p class="my-2">
                    L8 Cafe has the perfect atmosphere to catch up on your daily read, check your emails, get your creative
                    juices flowing or just to meet up with friends for one of Jozi’s best burgers or fresh salads.
                </p>
            </div>
            <div class="col-md-5 pb-4 my-auto"><img src="assets/img/about1.jpg" class="rounded img-fluid"></div>
        </div>
    </div>
</section>