<header class="masthead">
    <div class="container d-flex align-items-center flex-column">
        <div class="mx-auto text-center my-auto">
            <h1 class="mx-auto my-0">L8 Cafe</h1>
            <h2 class="text-light mx-auto mt-2 mb-5">@44 Stanley!</h2>
            <a href="#signup" class="btn btn-primary btn-lg js-scroll-trigger text-light">Contact Us</a>
        </div>
        <div class="mx-auto pb-5 text-white text-center">
            <a href="#about" class="js-scroll-trigger text-decoration-none">
                <i class="fas fa-3x fa-angle-down"></i>
            </a>
        </div>
    </div>
</header>