<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.social.twitter }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="assets/img/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/icons/favicon-16x16.png" sizes="16x16" />

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
        integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous" />

    <title>{{ site.title }}</title>
</head>

<body id="page-top" class="bg-black">
    {{ content }}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js (included in bootstrap bundle), then Bootstrap JS -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js">
    </script>


    <!-- Custom scripts for this template -->
    <script src="/assets/js/grayscale.min.js"></script>
    <script src="/assets/js/svg.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/node_modules/jquery-easing/dist/jquery.easing.1.3.umd.min.js"></script>

    <!-- Curator.io -->
    <script type="text/javascript">
        /* curator-feed */
        (function () {
            var i, e, d = document,
                s = "script";
            i = d.createElement("script");
            i.async = 1;
            i.src = "https://cdn.curator.io/published/f5db691d-36b6-4fa4-8093-2881cc9641b3.js";
            e = d.getElementsByTagName(s)[0];
            e.parentNode.insertBefore(i, e);
        })();
    </script>

    <!-- JSON-LD -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Restaurant",
            "name": "L8 Cafe",
            "image": "https://scontent.fjnb7-1.fna.fbcdn.net/v/t1.0-9/13346886_615986995237006_5958362056910080784_n.jpg?_nc_cat=110&_nc_oc=AQl-9A21m1lwKtrUbIfMmO7f6DzORpiq_rLZk0IgG-wYWMA2n74lOhmPCUX_Gp1R9tY&_nc_pt=1&_nc_ht=scontent.fjnb7-1.fna&oh=040d10cdb404024ecd3a7b89d66eb0e6&oe=5DB8041A",
            "@id": "",
            "url": "https://l8cafe.com",
            "telephone": "011 482 6985",
            "priceRange": "R40 avg main meal",
            "menu": "",
            "servesCuisine": "Café fare, Coffee, Deli fare, Light meals",
            "acceptsReservations": "true",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Shop G4, Main Yard,Stanley Complex 44 Stanley Avenue Milpark",
                "addressLocality": "Johannesburg",
                "postalCode": "2092",
                "addressCountry": "ZA"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": -26.1852743,
                "longitude": 28.018782200000032
            },
            "openingHoursSpecification": {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                ],
                "opens": "08:00",
                "closes": "16:30"
            },
            "sameAs": [
                "https://www.facebook.com/L8Cafe/",
                "https://www.instagram.com/l8cafe/"
            ]
        }
    </script>
</body>

</html>